@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Oswald:wght@500&family=Pacifico&display=swap');

* {
    font-family: 'Cairo', sans-serif;
}
header {
    height: 80px;
    display: block;
}
#Logo1 {
    display: inline-block;
    margin: 5px;
    margin-left: 30px;
    margin-top: 16px;
    float: left;
}
h1 {
    display: inline-block;
    font-size: x-large;
    font-family: 'Pacifico', cursive;
    margin-bottom: 0px;
    height: 15px;
    line-height: 40px;
    margin-top: 8px;
}
header div p {
    font-size: x-small;
    padding: 0px;
    height: 15px;
    line-height: 0px;
    color: gray;
}
#logotext {
    display: inline-block;
    position: relative;
    line-height: 50px;
    float: left;
}
nav {
    display: block;
    margin-top: 20px;
    left: 80%;
    float: right;
    margin-right: 25px;
}
nav li {display: inline-block;
        position: relative;


}

.hr {
    height: 10px;
    width: 96%;
    background-image: url(/img/hr-img.png);
    margin-left: 2%;
    margin-right: 2%;
}

h2 {
    margin-left: 30px;
    margin-top: 60px;
    font-size: xx-large;
    font-family: 'Oswald', sans-serif;
}

#firstp {
    display: inline-block;
    margin-left: 30px;
    color: gray;
}

#choco {display: inline-block}

#pri {
    position: relative;
    display: inline-block;
    margin-left: 90%;
    line-height: 0px;

}

#prilogo {
    position: relative;
    display: inline-block;
}

#prit {
    position: relative;
    display: inline-block;
    color: gray;
}

#mainimg {
    width: 92%;
    margin-left: 2%;
    margin-top: 25px
    
}

#imgdiv {
        margin 5%;
}

#ps {display: inline-block;
    margin: 20px;
    color: gray;
}

#pp1 {margin-bottom: 40px;}
#pp2 {margin-bottom: 40px;}

#cb1 {display: inline-block;
margin-left: 10%;}
#cb2 {display: inline-block;
    margin-left: 5%;
margin-top: 3%;}

#cball {display: inline-block;
    background-image: url(/img/list-bg.png);
    width: 80%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 8%;
    box-shadow: 5px 5px 3px gray;
    margin-bottom: 50px;
    margin-top: 50px;
}

footer {
    margin-top: 20px;
    height: 80px;
    display: block;
    margin-left: 3%;
}

#van {
    display: block;
    margin: 5px;
    margin-left: 30px;
    margin-top: 16px;
}
}

#vanph {
    display: inline-block;
    margin: 5px;
    margin-left: 30px;
    margin-top: 16px;
    float: left;
    position: relative;
    z-index: 2;
    
}
h3 {display: inline-block;
    font-size: x-large;
    margin-bottom: 0px;
    height: 15px;
    line-height: 40px;
    margin-top: 8px;}

#vanp{font-size: x-small;
    padding: 0px;
    height: 15px;
    line-height: 0px;
    color: gray;
    margin-bottom: 30px;}


.element {
        all: none;}

#vanbot {display: inline-block;
float: right;
background-color: rgb(214, 86, 86);
color: whitesmoke;
box-decoration-break: none;
height: 40px;
font-family: monospace;

width: 20%;}








footer {
    height: 80px;
    display: block;
}
#vanph {
    display: inline-block;
    margin: 5px;
    margin-left: 30px;
    margin-top: 16px;
    float: left;
}
h3 {
    display: inline-block;
    font-size: x-large;
    margin-bottom: 0px;
    height: 15px;
    line-height: 40px;
    margin-top: 8px;
}
footer div p {
    font-size: x-small;
    padding: 0px;
    height: 15px;
    line-height: 0px;
    color: gray;
}
#vanp {
    display: inline-block;
    position: relative;
    line-height: 90px;
}

#last {display: inline-block;
    width: 100%;
margin-top: 30px;}

#fhr {margin: 0px;
    width: 45%;
    margin-right: 3%;
    display: inline-block
}
#shr {margin: 0px;
    margin-left: 3%;
    width: 45%;
    display: inline-block
}
}

#ll {margin-bottom: ;

}

.no {
    text-align: center;
    margin-top: 5px;
}
#space {
    margin-top: 20px;
}